footer {
    @include flexbox-column;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    padding: 20px;

    img {
        margin: 0 0 10px 0;
    }

    p {
        color: $color-white;
    }
}