@import "../utils/mixins";
@import "../utils/variables";

.nav-header {

    a {
        text-decoration: none;
        margin: 0 0 0 8px;
        color: $color-primary;

        @include mobile-S {
            font-size: 14px;
        }

        @include mobile-M {
            font-size: 1.1rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}